---
import Card from "../components/Card.astro";
import EXPERIENCES from "../collections/experiences.json"
import TimelineItem from "../components/TimelineItem.astro";
import LetterGlitch from "../React/LetterGlitch.tsx";
---

<section id="aboutMe" class="flex flex-col max-w-5xl mx-auto">
  <h2
    class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
  >
    About Me
  </h2>
  

<article class="max-w-5xl mx-auto flex lg:flex-row md:flex-col sm:flex-col gap-4 p-4">
  <Card className="text-gray-300 dark:text-gray-300 h-fit">
    <div class="flex flex-col gap-2 text-sm sm:text-base">
      <h3
        class="text-[var(--sec)] shiny-sec text-lg sm:text-xl font-semibold text-gray-300 dark:text-gray-300"
      >
        Short Bio
      </h3>
      <p>
        I'm an experienced FullStack Web Developer focused on the NestJS and
        Angular ecosystem. I'm compromised with the quality of the code and
        the reliability of the websites I build.
      </p>
      <p>
        Currently, I'm developing a personal project called ThemeMarket, a
        free templates marketplace for developers.
      </p>
      <p>
        I like to share my knowledge with the community so I often make
        tutorials in my YouTube channel.
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <h3
        class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
      >
        Want to know a bit more?
      </h3>
      <a
        href="/docs/cv.pdf"
        role="button"
        aria-label="Download CV"
        download
        class="text-[var(--sec)] shiny-sec px-4 py-2   focus:ring-4 dark:focus:ring-blue-950 w-fit font-semibold"
        >Download CV</a
      >
    </div>
  </Card>
  <Card className="p-8">
    <ol class="relative border-s border-gray-300 dark:border-neutral-800">
      {
        EXPERIENCES.map((experience) => (
          <TimelineItem
            title={experience.company}
            description={experience.description}
            date={experience.dates}
          >
            <div
              slot="icon"
              class="size-full p-1"
              set:html={experience.svgIcon}
            />
          </TimelineItem>
        ))
      }
    </ol>
  </Card>
</article>

  
</section>