---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;

const splitClasses = className.split(" ");
---

<div
  class="rounded-md p-6 w-full border border-gray-300 dark:border-neutral-800 flex flex-col gap-2  shadow-sm dark: bg-[#1414149c]"
  class:list={splitClasses}
>
  <slot />
</div>